p {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: -0.005rem;
  color: var(--cor-enf-1);
}

.titulo {
  color: var(--cor-enf-2);
}
.titulo h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
}

.titulo span {
  font-size: 1rem;
  font-style: italic;
}
